<style>
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>

<h1><b style="font-size: 20px;">A new course evaluation has dropped !</b></h1>
<p style="font-size: 15px;">
  <i>The form for the course <b>{{course}}</b> is available.</i><br>
  Please fill it before the <b>{{date}}</b> using the following link:<br>
  <a href="{{link}}">{{link}}</a>
</p>
<div style="display: flex; align-items: center;">
  <img src="../assets/Logo.png" alt="Logo" style="width: 100px;" />
  <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;">
    <h1 style="font-size: 15px;"><i>FeedFront <br> est. 2024</i></h1>
  </div>
</div>